# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
*.local
build

# Environment variables - IMPORTANT to avoid exposing secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Misc
.cache
.parcel-cache
.next
out
.nuxt
.temp
.docusaurus

# Firebase
.firebase/
firebase-debug.log
firebaserc

# Firebase config - if you want to exclude this specific file
src/service/firebaseConfig.jsx

# Local environment files
.env*
!.env.example

